.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $palatino;
    letter-spacing: .5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-header {
    margin: 1rem 0;

    &::after{
      content: " ";
      border-top: .4rem solid $default-shade;
      display: block;
      margin: 1rem auto 3rem;
      width: 4rem;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-font;
    font-size: 4rem;
    margin: 0;
    text-align: center;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  .by-line{
    text-align: center;
    font-style: italic;
    color: $grey-1;
  }
}
