---
layout: standard
title: Synopses
---

<h2><i>The Ring</i> in 2.5 minutes</h2>

{% include youtube.html videocode="AgzZ_nLOJJE" id="ring-in-two-and-a-half-minutes" %}

<ol class="synopses-list">
  {% for post in site.posts reversed %}
  <li>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="synopses-list-part">
        {{ post.part }}
      </div>
      <h3>{{ post.title }}</h3>
      <div class="synopses-list-text">
        <p>{{ post.synopsis }}</p>
        <button>more</button>
      </div>
    </a>
  </li>
  {% endfor %}
</ol>