---
# comment
---

/*
Variables
*/

$primary-font-color: #412120;
$secondary-font-color: orange;
$body-font: "Open Sans", Helvetica, sans-serif;
$heading-font: Oswald, Helvetica, sans-serif;

.line{
  content:" ";
  display: block;
  height: 1rem;
  width: 4rem;
  background-color: $primary-font-color;
}


*{
	box-sizing: border-box;
}

body{
	font-family: $body-font;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5{
	font-family: $heading-font;
	font-weight: 700;
	text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1{
  padding: 1rem;
  font-size: 15vw;
  line-height: 1;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;

  div:first-child{
    font-size: 5vw;
    position: relative;
    margin-bottom: 4vh;

    &::before{
      @extend .line;
      position: absolute;
      top: -2rem;
    }
  }
}

h2{
  font-size: 48px;
  margin-top: 6rem;
  &::before{
    @extend .line;
  }
}

h3{
  font-size: 24px;
}

.synopsis{
	text-decoration: none;
	color: $primary-font-color;
	display: block;

  &-number{
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: 14px;
    font-weight: 700;
  }

  p{
    padding: 0;
    margin: 0;
  }
}

.button{
  background: $primary-font-color;
  color: white;

  border-radius: 0px;
  padding: .5rem 2rem;
  font-family: $heading-font;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;  
  margin-top: 1rem;
  display: inline-block;
  transition: all 500ms ease;
  



  &:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,.54);
    background: white;
    color: $primary-font-color;
  }
}

.content ul{
  list-style: none;
  padding-left: 2rem;
  position: relative;

  >li:before{
    content: "– ";
    position: absolute;
    left: 1rem;
  }
}

/*
Layout
*/

.container{
	max-width: 54rem;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto 6rem auto;
}

.synopsis{
  margin-top: 4rem;
}

#logo{
  font-size: 24px;
  padding: .5rem 1rem;
  line-height: 32px;
}

@media screen and (max-width: 54rem){
  nav{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.95);
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;

    ul{
      list-style: none;
      text-transform: uppercase;
      font-family: $heading-font;
      padding-left: 0;
      margin-top: 18px;

      a{
        color: $primary-font-color;
        text-decoration: none;
        font-size: 32px;
        padding: .25rem 0 .25rem 2rem;
        display: block;
      }
    }
  }

  .nav-shown{
    overflow: hidden;

    nav{
      opacity: 1;
      pointer-events: all;
    }
  }

  #show-nav{
    font-size: 32px;
    border: 0;
    background: white;
    color: $primary-font-color;
  }

  #hide-nav{
    border-radius: 50%;
    border: 0;
    outline: none;
    font-size: 32px;
    line-height: 32px;
    height: 4rem;
    width: 4rem;
    position: absolute;
    bottom:32px;
    left: 50%;
    margin-left: -2rem;
    background: $primary-font-color;
    color: white;
    transition: all 250ms ease;

    &:hover,&:focus{
      color: $primary-font-color;
      background: white;
      box-shadow: 0 2px 4px rgba(0,0,0,.54);
    }
  }
  
  #logo{
    display: none;
  }

}


/*864<=*/
@media screen and (min-width: 54rem){

  nav{
    display: flex;
    justify-content: space-between;
    font-family: $heading-font;
    text-transform: uppercase;
    line-height: 1;

    ul{
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;

      >li:first-child{
        display: none;
      }
    }

    a{
      text-decoration: none;
      color: inherit;
      display: block;
      padding: 1rem;
    }

    li{
      &:hover{
        background: $primary-font-color;
        color: white;
      }
    }
  }

  #hide-nav, #show-nav{
    display: none;
  }

  h2{
    font-size: 64px;
  }

  .synopsis{
    display: flex;
    margin: 6rem 0;

    &-number{
      flex-basis: 14rem;
      font-size: 84px;
      line-height: 84px;
      transform: translateY(-1px);
    }

    &-text{
      width: calc(100% - 14rem);
      padding-left: 1rem;
    }
  }
}

/*1024<=*/
@media screen and (min-width: 64rem){

  h2{
    font-size: 96px;
  }
}