---
# comment
---

/*
Variables
*/

$primary-font-color: #412120;
$primary-font-color: #222;
$secondary-font-color: orange;
$body-font: "Open Sans", Helvetica, sans-serif;
$heading-font: Oswald, Helvetica, sans-serif;

$red: #B21000;
$light-blue: #0E62CC;
$dark-blue: #004FB2;


.line{
  content:" ";
  display: block;
  height: 1rem;
  width: 4rem;
  background-color: $red;
}


*{
	box-sizing: border-box;
}

body{
	font-family: $body-font;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5{
	font-family: $heading-font;
	font-weight: 700;
	text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1{
  padding: 1rem;
  font-size: 15vw;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;

  div:first-child{
    font-size: 5vw;
    margin-bottom: 4vh;

    &::before{
      @extend .line;
      transform: translateY(-1rem);
    }
  }
}

h2{
  font-size: 48px;
  margin-top: 6rem;
  line-height: 1;
  &::before{
    @extend .line;
  }
}

h3{
  font-size: 24px;
}

.synopsis{
	text-decoration: none;
	color: $primary-font-color;
	display: block;

  &-number{
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: 14px;
    font-weight: 700;
  }

  p{
    padding: 0;
    margin: 0;
  }
}

button, a.button{
  background: $primary-font-color;
  color: white;
  border-radius: 0px;
  border: 0;
  padding: .5rem 2rem;
  font-family: $heading-font;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;  
  margin-top: 1rem;
  display: inline-block;
  transition: all 350ms ease;

  &:hover{
    background: white;
    color: $primary-font-color;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
  }
}

.content ul{
  list-style: none;
  padding-left: 2rem;
  position: relative;

  >li:before{
    content: "– ";
    position: absolute;
    left: 1rem;
  }
}

iframe{
  width: 100%;
  border: 0;
  display: block;
}

.leitmotif{
  box-shadow: 0 2px 10px rgba(0,0,0,.4);
  margin-bottom: 2rem;

  &:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,.5);
  }

  h3{
    background: $red;
    color: white;
    padding: 0 0 .1875rem .5rem;
  }

  iframe{
    height: 8.125rem;
  }
}

.youtube-placeholder{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg{
    height: 3rem;
    width: 4.25rem;
  }

  &:hover .ytp-large-play-button-bg{
    fill: #f00;
    fill-opacity: 1;
  }
}

.ytp-large-play-button-bg{
  pointer-events: none;
}

#ring-in-two-and-a-half-minutes, #ring-in-two-and-a-half-minutes > *{
  height: 468px;
}



/*
Layout
*/

.container{
	max-width: 54rem;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto 6rem auto;
}

#logo{
  font-size: 24px;
  padding: .5rem 1rem;
  line-height: 32px;
}

.synopses-list{
  list-style: none;
  padding: 0;

  p,h3{
    margin: 0;
  }

  a{
    text-decoration: none;
    color: inherit;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
  }
}

#radiolab{
  height: 130px;
  margin-top: 2rem;
}

@media screen and (max-width: 54rem){
  nav{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    z-index: 1;

    border-radius: 50%;
    overflow: hidden;
    
    transform: translate(-476px, -476px);
    transition: height 500ms ease, width 500ms ease, opacity 500ms ease 500ms;
    background: $primary-font-color;

    ul{
      list-style: none;
      text-transform: uppercase;
      font-family: $heading-font;
      padding-left: 0;
      margin-top: 18px;
      transform: translate(476px,600px);

      a{
        color: white;
        text-decoration: none;
        font-size: 32px;
        padding: .25rem 1rem;
        display: block;
      }
    }
  }

  .nav-shown{
    overflow: hidden;

    nav{
      opacity: 1;
      pointer-events: all;
      width: 1600px;
      height: 1600px;
      transition: height 500ms ease, width 500ms ease, opacity 0s ease 0s;
    }
  }

  #show-nav{
    svg{
      fill: $primary-font-color;
    }

    &:hover,&:focus{
      background: $primary-font-color;

      svg{
        fill: white;
      }
    }
  }

  #show-nav, #hide-nav{
    border: 0;
    outline: 0;
    padding: .5rem;
    transition: all 250ms ease;
    cursor: pointer;
    background: transparent;
  }

  #hide-nav{
    transform: translate(476px,476px);
    position: fixed;
    
    svg{
      fill: white;
    }

    &:hover,&:focus{
      background: white;
      box-shadow: 0 2px 4px rgba(0,0,0,.5);

      svg{
        fill: $primary-font-color;
      }
    }
  }
  
  #logo{
    display: none;
  }

  .synopses-list{

    .part{
      order: 2;
      font-family: $heading-font;
      text-transform: uppercase;
      color: $red;
    }

    p,div{
      order: 3
    }
  }
} 


/*864<=*/
@media screen and (min-width: 54rem){

  nav{
    display: flex;
    justify-content: space-between;
    font-family: $heading-font;
    text-transform: uppercase;
    line-height: 1;

    ul{
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;

      >li:first-child{
        display: none;
      }
    }

    a{
      text-decoration: none;
      color: inherit;
      display: block;
      padding: 1rem;
    }

    li{
      &:hover{
        background: $primary-font-color;
        color: white;
      }
    }
  }

  #hide-nav, #show-nav{
    display: none;
  }

  h2{
    font-size: 64px;
  }

  .synopsis{
    display: flex;
    margin: 6rem 0;

    &-number{
      flex-basis: 14rem;
      font-size: 84px;
      line-height: 84px;
      transform: translateY(-1px);
    }

    &-text{
      width: calc(100% - 14rem);
      padding-left: 1rem;
    }
  }

  .synopses-list{

    margin: 2rem 0;

    &-text,h3{
      width: calc(100% - 12rem);
      align-self: flex-end;
    }

    h3{
      margin-top: -58px;
    }

    &-part{
      font-size: 58px;
      line-height: 1;
      font-weight: 700;
      font-family: $heading-font;
      text-transform: uppercase;
      width: 12rem;
    }
  }
}

/*1024<=*/
@media screen and (min-width: 64rem){

  h2{
    font-size: 96px;
  }
}